.message{
  height: calc(50vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}
.message button {
  width: fit-content;
}
