<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading && !message">
  <mat-card-header>
    <mat-card-title ><h3>Password Reset Assistance</h3></mat-card-title>
  </mat-card-header>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <h3>Enter the email address associated with your account.</h3>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput color="accent" placeholder="Email" type="email">
        <mat-error *ngIf="email.errors?.required && email.touched">Please Enter a Email</mat-error>
        <mat-error *ngIf="email.errors?.pattern && email.touched">Please Enter a valid Email</mat-error>
      </mat-form-field>
      <mat-error *ngIf="error">{{error}}</mat-error>
    </mat-card-content>

    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button [disabled]="!forgotPasswordForm.valid" type="submit" color="primary">Continue</button> <br><br>
        <a mat-button routerLink="/login">Back to Login Page</a>
        <a mat-button routerLink="/register">New here? Please Register</a>
      </mat-card-actions>
    </mat-card-footer>
  </form>
</mat-card>
<p style="text-align: center;"*ngIf="message">{{message}}</p>
