.filters h2 {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673ab7;
  color: white;
  border-radius: 15px;
}

.filters .mat-form-field {
  display: block;
  margin-top: 20px;
  width: 100%;
}

 .mat-dialog-actions{
  justify-content: center;
  margin-top: auto;
}

.popup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
