ul{
  list-style-type: none;
  display: flex;
}

li{
  cursor: pointer;
}

.hover-gold{
  color: gold;
}

.rating-scorecard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 30px;
  min-height:250px;
  width:50%;
  background-color: white;
}

.rating-head{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  min-height: 50px;
}

.average-rating{
  height: 50px;
  text-align: center;
}

.rating-head mat-icon{
  margin-left: 10px;
  font-size: 30px;
  vertical-align: -5px;
}

.scorecard{
  display: flex;
  flex-wrap: wrap;
}
.left, .right{
  text-align: center;
  padding:10px;
  width: calc(15% - 20px);
  height: 35px;
}

.middle{
  width: 70%;
}
.bar{
  background-color: lightgray;
  margin-top: 7px;
  height: 25px;
  position: relative;
}
.bar-result{
  position: absolute;
  height: 100%;
}

