mat-spinner{
  margin: auto;
}
mat-card {
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

mat-card-header {
  justify-content: center;
  background-color: #673ab7;
  color: white;
  border-radius:5px;
}

mat-card-title {
  width: 100%;
}

mat-card-title h3 {
  font: 400 21px/28px "Roboto","Helvetica Neue",sans-serif;
}
mat-card-content h3 {
  font: 400 16px/28px "Roboto","Helvetica Neue",sans-serif;
}

mat-card-content{
  text-align: center;
  margin: auto;
  margin-top: 4%;
}

mat-form-field {
  display: block;
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
}

mat-card-actions {
  text-align: center;
  display: block;
}
.error_gap{
  margin-top: 90px;
}

@media only screen and (max-width: 600px) {
  mat-card{
    width: 90%;
  }
}
