<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading && token_verification && !message">
  <mat-card-header>
    <mat-card-title ><h3>Password Reset Assistance</h3></mat-card-title>
  </mat-card-header>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
    <mat-form-field [class.error_margin]="password.errors?.pattern && password.touched">
      <input formControlName="password" matInput type="password" placeholder="Enter New Password">
      <mat-error *ngIf="password.errors && password.touched">
        <span *ngIf="password.errors.required">Please Enter Password</span>
        <span *ngIf="password.errors.pattern">Password should be more than 8 and less than 24 characters and should contain<br>
          1. "One Uppercase Letter"<br>
          2. "One Lowercase Letter"<br>
          3. "One Number"<br>
          4. "One Special Symbol"</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field [class.error_gap]="password.errors?.pattern">
      <input formControlName="confirmPassword" matInput type="password" placeholder="Enter New Password Again">
      <mat-error *ngIf="confirmPassword.errors?.required && confirmPassword.touched">Please Enter Confirm Password</mat-error>

    </mat-form-field>
    <small style="text-align: center;">
      <mat-error *ngIf="resetPasswordForm.errors && !password.errors && confirmPassword.touched && password.touched">Password
        and Confirm Password does not match</mat-error>
    </small>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button [disabled]="!resetPasswordForm.valid" type="submit" color="primary">Submit</button> <br><br>
      </mat-card-actions>
    </mat-card-footer>

  </form>
<mat-error style="margin: auto; text-align: center;" *ngIf="error">{{error}}</mat-error>
</mat-card>
<p style="text-align: center;"*ngIf="message">{{message}}</p>
